<div class="container">
  <form [formGroup]="repairForm" (ngSubmit)="onSubmit()">
    <h2>Autó javítási számla</h2>

    <div class="form-group">
      <label>Auto típus</label>
      <input type="text" formControlName="carName" />
    </div>

    <div class="form-group">
      <label>Rendszám</label>
      <input type="text" formControlName="licencePlate" />
    </div>

    <div class="form-group">
      <label>Futott Km</label>
      <input type="number" formControlName="kmRan" />
    </div>

    <div class="form-group">
      <label>Dátum</label>
      <input type="date" formControlName="date" />
    </div>

    <div class="form-group">
      <label>Anyag</label>
      <textarea
        rows="5"
        formControlName="partsUsed"
        (blur)="formatTextareaWithDash('partsUsed')"
        placeholder="Minden anyagot külön sorban írj be"></textarea>
    </div>

    <div class="mb-3">
        <div class="switch-group">
            <label class="switch">
                <input type="checkbox" formControlName="partsBroughtEnabled">
                <span class="slider"></span>
            </label>
            <span class="switch-text">Ügyfél hozott anyagot</span>

            <label class="switch">
                <input type="checkbox" formControlName="moreFoultsEnabled">
                <span class="slider"></span>
            </label>
            <span class="switch-text">További hibák</span>
        </div>
        <div class="form-group mt-3" *ngIf="repairForm.get('partsBroughtEnabled')?.value">
            <label>Hozott Anyag</label>
            <textarea
                rows="4"
                formControlName="partsBrought"
                placeholder="Minden anyagot külön sorban írj be"
                (blur)="formatTextareaWithDash('partsBrought')"></textarea>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-group mt-3" *ngIf="repairForm.get('moreFoultsEnabled')?.value">
            <label>Felvélt hibák</label>
            <textarea
                rows="4"
                formControlName="moreFoults"
                placeholder="Minden hibát külön sorban írj be"
                (blur)="formatTextareaWithDash('moreFoults')"></textarea>
        </div>
    </div>

    <div class="form-group">
      <label>Anyag költség</label>
      <input type="text" formControlName="partsCost" appThousandSeparator/>
    </div>

    <div class="form-group">
      <label>Diagnosztika</label>
      <input type="text" formControlName="diagnosticsCost" appThousandSeparator/>
    </div>

    <div class="form-group">
      <label>Műszaki vizsga</label>
      <input type="text" formControlName="technicalExam" appThousandSeparator />
    </div>

    <div class="form-group">
      <label>Munkadíj</label>
      <input type="text" formControlName="wage" appThousandSeparator />
    </div>
    <div class="form-group">
      <label>Munka óra</label>
      <input type="number" formControlName="hours" /> 
    </div>

    <div class="form-group madeupshit">
       <label>Egyéb költségek</label>

    <div formArrayName="extraCosts">
      <div *ngFor="let cost of extraCosts.controls; let i = index"
              [formGroupName]="i"
              class="flex gap-2 mb-2 h-12">

        <input
          type="text"
          formControlName="name"
          placeholder="Megnevezés"
          class="form-control"
        />

        <input
          type="text"
          formControlName="amount"
          placeholder="Összeg"
          class="form-control"
          appThousandSeparator
        />

        <button type="button"
          class="deleteExtraCost"
          (click)="removeExtraCost(i)">
          X
        </button>

          </div>
      </div>

      <button type="button"
              class="btn mt-2 addExtraCost"
              (click)="addExtraCost()">
        + Új tétel
      </button>
    </div>

    <div class="overall">
      Összesen {{ overall ? overall:"" }} Ft
    </div>
    

    <div class="flex gap-4">
      <button type="button"  (click)="generatePdf(1,repairForm)" [disabled]="repairForm.invalid">Előnézet</button>
      <button type="submit" class="save" [disabled]="repairForm.invalid">Mentés
      </button>
    </div>

  </form>

  <div class="mt-5">
    <ngx-doc-viewer 
      *ngIf="docPreview && docPreview !== ''"
      [url]="docPreview"
      viewer="pdf"
      style="width:100%;height:78vh;"
    ></ngx-doc-viewer>
  </div>

</div>


